<!DOCTYPE html>
{% load static %}
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Бюджетник</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
 </head>
 <body>
  <div id="container">
   <div id="header">
       Бесплатные программы ускоряющие работу государственного служащего
    </div>
   <div id="sidebar">
    <p><a href="#">Генератор документов</a></p>
   </div>
   <div id="content">
       Здесь будет общая информация о ресурсе
   </div>
   <div id="footer">Тут должна быть контактная информация</div>
  </div> 
 </body>
</html>